/*TABLET a menÅ¡Ã­ DESKTOP (768px aÅ¾ 1024px) - muj telefon*/
@media (min-width : 768px ) and ( max-width : 1274px ){
     .darkTheme
     {
     display: none;
     }
	
    .menu-iconHamburger {
    font-size: 60px;
	width: 45px;
    cursor: pointer;
    padding: 0px 0px 5px 0px;
    }
	
	.NapisDivadlo{
	font-size: 32px;
    }
	  .Uvitani {
		  font-family: 'EB Garamond', serif;
    font-size: 50px;
  }

.BoxZivyKarlovarsky {
  position: fixed;     /* nebo absolute, pokud je rodič relativně pozicovaný */
  top: 10px;           /* odsazení od horní hrany okna */
  right: 5px;         /* odsazení od pravé hrany okna */
  display: flex;

  /*z-index: 1000;       /* aby byly nad vším ostatním */
  /*background: transparent; /* pokud chceš průhledné pozadí */
}
	.BoxZivyKarlovarskyGap {
gap: 10px;
}
	
.menu-iconKarlovarskyKraj img {
    width: 50px;
    height: 50px;
  }
  .menu-iconZivyKraj img {
    width: 50px;
    height: 50px;
  }
	
	.LogoDivadlo{
		width: 80px;	
}
	#HorniListaBilyPodklad 
{
	position: fixed;
	width: 100%;
	height:105px;
	padding: 5px 5px 0px 5px;
    background: white;
    color:white;
	align-items: center; /* Vertikální zarovnání na stred */
	z-index: 1000; /* Zajistí, že menu bude nad ostatním obsahem */  
}
	
	.HorniLista /*opona*/
{
	height: 93px;
  background: darkred;
  background:url(../images/Opona.png); 
  padding: 5px 25px 5px 5px;
  font-family: "Times New Roman", Times, serif;
  font-family: cursive;
  font-size: 1.5em;
  display: flex;
  align-items: center; /* Vertikální zarovnání na stred */
  gap: 20px; /* Vzdálenost mezi jednotlivými ikonami */
}

}





