@charset "utf-8";
/* 
- V animate vytvoříme komponentu CCS
- Necháme ji na ploše (nebo mimo rozsah, aby nebyla vidět)
- Odkazuje se na ně jenom prostřednictvím jejich jména (zde comb)
- "select option" je odkaz na html (v javascriptu jsem je vytvořil:

         var select = document.getElementById("comb");
	 var option = document.createElement('option');
         option.text = "Ano"      //text i value jsou stringy
	 option.value = "11";
         select.add(option, 3);  //trojka je pozice v seznamu
*/



#comb
{
        color: blue;
	font-size: 24;
	background: azure;
	text-align: left;
	height: 40;
	widht:160;
        border: 1px solid red;
        outline: none
}

#ddd
{
        color: blue;
	font-size: 24;
	background: red;
	text-align: center;
	height: 40;
	widht:160;
        border-radius: 25px;
        border: 1px solid #73AD21;
        outline: none
}


/*Při výběru textu tažením myši, bude pozadí žluté a písmena červená*/
::selection 
{
  color: red;
  background: yellow;
}


/*Combobox bude při hover žlutý*/
#comb:hover 
{
  background: yellow;
}


/*týká se prostoru pro výběr*/
select option 
{
  background-color: beige;
  color: red; 
} 


/*Naposledy vybraný item bude zelený (jinak jsou červené - viz. další kód)*/
select option:checked  
{
  color: green;
}

select:not(:checked) 
{
   color: red;
}




/* Různé druhy rohů pro buttony
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}
